<div class="panel panel-success">
  <div class="panel-heading">
    <h3 style="display: inline;" data-translate="demonstrationOfHovercard">A demonstration of hovercard</h3>
  </div>



  <div class="panel-body">
    <!--Hovercard-->
    <div class="hc-preview" style="position: relative;display: inline;">

      <div
        style="left: -10px;margin: 20px;text-align: left;font-family: Sans-serif !important;color: #666 !i-moz-border-radius: 3px;
      -webkit-border-radius: 3px;border-radius: 3px;top: -10px;padding: 10px 10px 10px;-moz-box-shadow: 5px 5px 5px #888;-webkit-box-shadow: 5px 5px 5px #888;box-shadow: 5px 5px 5px #888;width: 250px; background: rgb(241, 248, 233); position: relative; display: inline-block;">

        <span style="font-style: inherit;color: rgb(255, 153, 0);background-color: rgba(255, 100, 50, 0);float: left;"
          data-translate="aire">Aire</span>

        <img class="mtwSpeak done" src="../assets/img/speak.png" style="float: right;cursor: pointer;">
        <img src="../assets/img/common.png" class="tags-common"
          style="height: 20px;top: 10;margin-right: 5px;border: 2px solid #FFF8E1;border-radius: 5px;float: right;">

        <br><br>

        <p data-translate="air">Air</p>
        <br>

        <img class="mtwMarkAsLearnt mtwHovercardBelow done" data-original="Open" src="../assets/img/learnt.png"
          style="cursor: pointer;">

        <img class="mtwSaveTranslation mtwHovercardBelow done" data-original="Open" src="../assets/img/save.png"
          style="cursor: pointer;">

        <img class="mtwBlacklistWord mtwHovercardBelow done" src="../assets/img/blacklist.png" style="cursor: pointer;">

        <img class="mtwWordInfo mtwHovercardBelow done" src="../assets/img/info.png" style="cursor: pointer;">

        <img class="mtwVisualHint mtwHovercardBelow done" src="../assets/img/visual.png" style="cursor: pointer;">

      </div>
    </div>

    <div class="hc-preview" style="position: relative;display: inline;">


      <div
        style="left: -10px;margin: 20px;text-align: left;font-family: Sans-serif !important;color: #666 !i-moz-border-radius: 3px;
      -webkit-border-radius: 3px;border-radius: 3px;top: -10px;padding: 10px 10px 10px;-moz-box-shadow: 5px 5px 5px #888;-webkit-box-shadow: 5px 5px 5px #888;box-shadow: 5px 5px 5px #888;width: 250px; background: rgb(255, 253, 231); position: relative; display: inline-block;">

        <span style="font-style: inherit;color: rgb(255, 153, 0);background-color: rgba(255, 100, 50, 0);float: left;"
          data-translate="mouvement">Mouvement</span>

        <img class="mtwSpeak done" src="../assets/img/speak.png" style="float: right;cursor: pointer;">
        <img src="../assets/img/occasionally.png" class="tags-common"
          style="height: 20px;top: 10;margin-right: 5px;border: 2px solid #FFF8E1;border-radius: 5px;float: right;">

        <br><br>

        <p data-translate="movement">Movement</p>
        <br>

        <img class="mtwMarkAsLearnt mtwHovercardBelow done" data-original="Open" src="../assets/img/learnt.png"
          style="cursor: pointer;">

        <img class="mtwSaveTranslation mtwHovercardBelow done" data-original="Open" src="../assets/img/save.png"
          style="cursor: pointer;">

        <img class="mtwBlacklistWord mtwHovercardBelow done" src="../assets/img/blacklist.png" style="cursor: pointer;">

        <img class="mtwWordInfo mtwHovercardBelow done" src="../assets/img/info.png" style="cursor: pointer;">

        <img class="mtwVisualHint mtwHovercardBelow done" src="../assets/img/visual.png" style="cursor: pointer;">

      </div>
    </div>

    <div class="hc-preview" style="position: relative;display: inline;">


      <div
        style="left: -10px;margin: 20px;text-align: left;font-family: Sans-serif !important;color: #666 !i-moz-border-radius: 3px;
      -webkit-border-radius: 3px;border-radius: 3px;top: -10px;padding: 10px 10px 10px;-moz-box-shadow: 5px 5px 5px #888;-webkit-box-shadow: 5px 5px 5px #888;box-shadow: 5px 5px 5px #888;width: 250px; background: rgb(255, 235, 238); position: relative; display: inline-block;">

        <span style="font-style: inherit;color: rgb(255, 153, 0);background-color: rgba(255, 100, 50, 0);float: left;"
          data-translate="trois">Trois</span>

        <img class="mtwSpeak done" src="../assets/img/speak.png" style="float: right;cursor: pointer;">
        <img src="../assets/img/rare.png" class="tags-common"
          style="height: 20px;top: 10;margin-right: 5px;border: 2px solid #FFF8E1;border-radius: 5px;float: right;">

        <br><br>

        <p data-translate="three">Three</p>
        <br>

        <img class="mtwMarkAsLearnt mtwHovercardBelow done" data-original="Open" src="../assets/img/learnt.png"
          style="cursor: pointer;">

        <img class="mtwSaveTranslation mtwHovercardBelow done" data-original="Open" src="../assets/img/save.png"
          style="cursor: pointer;">

        <img class="mtwBlacklistWord mtwHovercardBelow done" src="../assets/img/blacklist.png" style="cursor: pointer;">

        <img class="mtwWordInfo mtwHovercardBelow done" src="../assets/img/info.png" style="cursor: pointer;">

        <img class="mtwVisualHint mtwHovercardBelow done" src="../assets/img/visual.png" style="cursor: pointer;">

      </div>
    </div>

  </div>
  <br>
  <div style="padding: 20px;">
    <div>

      <img class="mtwMarkAsLearnt mtwHovercardBelow done" src="../assets/img/learnt.png"
        style="cursor: pointer;vertical-align: middle;">

      <span style="top: 5;"><strong style="font-weight: bold;">Learnt:</strong> this means you have learned the word.
        (You can find the learned words in 'Learnt words' or Learning section)</span>
    </div>

    <div style="margin-top: 10px;">

      <img class="mtwMarkAsLearnt mtwHovercardBelow done" src="../assets/img/save.png"
        style="cursor: pointer;vertical-align: middle;">

      <span style="top: 5; vertical-align: middle;"><strong style="font-weight: bold;">Save:</strong> the word will be saved in the 'Saved
        translations' of Learning section.</span>
    </div>

    <div style="margin-top: 10px;">

      <img class="mtwMarkAsLearnt mtwHovercardBelow done" src="../assets/img/blacklist.png"
        style="cursor: pointer;vertical-align: middle;">

      <span style="top: 5; vertical-align: middle;"><strong style="font-weight: bold;">Blacklist:</strong> the word will never be translated by
        MindTheWord on any websites. (You can find the blacklisted words in Blacklist section)</span>
    </div>

    <div style="margin-top: 10px;">

      <img class="mtwMarkAsLearnt mtwHovercardBelow done" src="../assets/img/info.png"
        style="cursor: pointer;vertical-align: middle;">

      <span style="top: 5; vertical-align: middle;"><strong style="font-weight: bold;">Information:</strong> this will direct you to Wiktionary,
        gives you a broader understanding of this word</span>
    </div>

    <div style="margin-top: 10px;">

      <img class="mtwMarkAsLearnt mtwHovercardBelow done" src="../assets/img/visual.png"
        style="cursor: pointer;vertical-align: middle;">

      <span style="top: 5; vertical-align: middle;"><strong style="font-weight: bold;">Visual learning:</strong> this will direct you to google
        image search, gives you a better visual understanding of this word</span>
    </div>

    <div style="margin-top: 10px;">
      <div style="background-color: rgb(241, 248, 233); display: inline-block;">
        <img class="mtwMarkAsLearnt mtwHovercardBelow done" src="../assets/img/common.png"
          style="cursor: pointer;vertical-align: middle; margin: 6px;">
      </div>

      <span style="top: 5; vertical-align: middle;"><strong style="font-weight: bold;"> : </strong> this tag indicates that the word is more
        frequently used</span>
    </div>

    <div style="margin-top: 10px;">
      <div style="background-color: rgb(255, 253, 231); display: inline-block;">
        <img class="mtwMarkAsLearnt mtwHovercardBelow done" src="../assets/img/occasionally.png"
          style="cursor: pointer;vertical-align: middle; margin: 6px;">
      </div>

      <span style="top: 5; vertical-align: middle;"><strong style="font-weight: bold;"> : </strong> this tag indicates that the word is seen
        sometimes</span>
    </div>

    <div style="margin-top: 10px;">
      <div style="background-color: rgb(255, 235, 238); display: inline-block;">
        <img class="mtwMarkAsLearnt mtwHovercardBelow done" src="../assets/img/rare.png"
          style="cursor: pointer;vertical-align: middle; margin: 6px;">
      </div>

      <span style="top: 5; vertical-align: middle;"><strong style="font-weight: bold;"> : </strong> this tag indicates that the word is not seen
        everyday</span>
    </div>

    <div class="hc-preview" style="z-index: 20000; margin-top: 50px;">
      <div class="hc-details hc-details-open-left" style="width: 300px; background: rgb(255, 253, 231);    border: solid 1px #ddd;line-height: 1.5em; box-shadow: 5px 5px 5px #888; padding: 2em 10px 10px; position: relative;">
        <span data-sl="en" data-tl="fr" data-query="size" data-original="size" data-translated="taille" class="mtwTranslatedWord hc-name" style="z-index: 0;">taille</span>
        <p class=" mtwProcessed"><span class="mtwProcessed">size</span></p>
        <img src="../assets/img/occasionally.png" class="tags-occasional">
        <img style="cursor:pointer;" class="mtwSpeak done" title="Speak" data-translated="taille" src="../assets/img/speak.png">
        <img style="cursor:pointer;" class="moreInformation done" title="More Information" data-original="size" src="../assets/img/more.png">
        <img style="cursor:pointer;" class="mtwMarkAsLearnt mtwHovercardBelow done" title="Mark As Learnt" data-original="size" src="../assets/img/learnt.png">
        <img style="cursor:pointer;" class="mtwSaveTranslation mtwHovercardBelow done" title="Save Translation" data-translated="taille" data-original="size" src="../assets/img/save.png">
        <img style="cursor:pointer;" class="mtwBlacklistWord mtwHovercardBelow done" title="Blacklist Word" data-original="size" src="../assets/img/blacklist.png">
        <img style="cursor:pointer;" class="mtwWordInfo mtwHovercardBelow done" title="Word Info" data-translated="taille" src="../assets/img/info.png">
        <img style="cursor:pointer;" class="mtwVisualHint mtwHovercardBelow done" title="Visual Hint" data-translated="taille" src="../assets/img/visual.png">
        <hr><span class="hc-info-details"><b>Type: noun</b><br>Use Case:<br> &nbsp;1. <b>Word:</b> dimension &nbsp;
          <b>Type:</b> noun<br><i class="hc-info-details-syn"> <b>Synonyms:</b> diameter, quantity, page size, size of
            it, grain size, size class, sizes</i><br> &nbsp;2. <b>Word:</b> adhesive &nbsp; <b>Type:</b> noun</span>
      </div>
    </div>

    <div style="padding-top: 40px;">
      <div>
        <img class="mtwMarkAsLearnt mtwHovercardBelow done" src="../assets/img/more.png"
          style="cursor: pointer;vertical-align: middle; height: 24px;">
  
        <span style="top: 5; vertical-align: middle;"><strong style="font-weight: bold;">:</strong> click this to get more information. (You can enable this feature under information rich cards in Translation tab)</span>
      </div>

    </div>
  </div>
</div>